<div id="tile-wrapper">
  <a class="back-btn" ng-href="#/"><img ng-src="../images/back.svg"></a>
  <ul class="title" style="background-color:#00BAD2;">
    <li>Sponsors</li>
  </ul>
  <ul>
    <li style="background-color:#8BC34A;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/ask.png"><div></li>
    <li style="background-color:#FF5722;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/lic.jpeg"><div></li>
    </ul>
  <ul>
    <li style="background-color:#9E9E9E;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/acc.png"><div></li>
    <li style="background-color:#795548;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/ebay.png"><div></li>
    </ul>
    <ul>
    <li style="background-color:#3F51B5;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/oppo.png"><div></li>
    <li style="background-color:#8BC34A;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/qburst.png"><div></li>
    </ul>
    <ul>
    <li style="background-color:#F44336;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/sap.png"><div></li>
    <li style="background-color:#4CAF50;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/tcs.png"><div></li>
    </ul>
    <ul>
    <li style="background-color:#FF9800;" class="list"><div class="icon-s"><img class="icon-spon" ng-src="../images/sponsors/bsnl.png"><div></li>
    <li style="background-color:#9E9E9E;" class="list"></li>
    </ul>

  </div>
